<div class="card mb-3 background-card" id="tamanho" *ngIf="card.autor != 'Guilherme Albertini Clemente'">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img style="margin: 15% 5%;" src="../../assets/imagens/galera/{{card.imagem}}" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{card.titulo}}</h5>
        <p class="card-text">{{card.texto}}</p>
        <p class="card-text"><small class="text-muted">{{card.autor}}</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3 background-card" *ngIf="card.autor == 'Guilherme Albertini Clemente'">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../../assets/imagens/galera/{{card.imagem}}" class="card-img">
    </div>
    <div class="col-md-8">
      <div class="card-body" id="text-align">
        <h5 class="card-title">{{card.titulo}}</h5>
        <p class="card-text">{{card.texto}}</p>
        <p class="card-text"><small class="text-muted">{{card.autor}}</small></p>
      </div>
    </div>
  </div>
</div>