@media only screen and (max-width: 1920px) {
    #tamanho {
        max-width: 520px;
    }
    #text-align {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
    }
}

@media only screen and (max-width: 1281.98px) {
    #tamanho {
        max-width: 480px;
    }
}