<div class="card background-card" [style.width]="style">
  <img src="../../assets/imagens/galera/{{card.imagem}}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{card.titulo}}</h5>
    <p class="card-text">{{card.texto}}</p>
    <p class="card-text"><small class="text-muted">{{card.autor}}</small></p>
  </div>
</div>