<div class="fundo">
  <div class="loading">
    <img class="unicornio" src="../../assets/imagens/unicornio3.png">
  </div>
  <div class="div-container" *ngIf="isLoaded" style="display: none;">
    <div class="div-mensagens">

      <img class="chapeu1 imagem-festa" src="../../assets/imagens/party-hat.png">
      <img class="chapeu2 sumir imagem-festa" src="../../assets/imagens/party-hat.png">
      <img class="chapeu3 sumir imagem-festa" src="../../assets/imagens/party-hat.png">
      <img class="chapeu4 sumir imagem-festa" src="../../assets/imagens/party-hat.png">
      <img class="chapeu5 sumir imagem-festa" src="../../assets/imagens/party-hat.png">
      <img class="cone1 imagem-festa" src="../../assets/imagens/cone.png">
      <img class="cone2 sumir imagem-festa" src="../../assets/imagens/cone.png">
      <img class="cone3 sumir imagem-festa" src="../../assets/imagens/cone.png">
      <img class="cone4 sumir imagem-festa" src="../../assets/imagens/cone.png">
      <img class="cone5 sumir imagem-festa" src="../../assets/imagens/cone.png">
      <img class="presente1 imagem-festa" src="../../assets/imagens/gift.png">
      <img class="presente2 sumir imagem-festa" src="../../assets/imagens/gift.png">
      <img class="presente3 sumir imagem-festa" src="../../assets/imagens/gift.png">
      <img class="presente4 sumir imagem-festa" src="../../assets/imagens/gift.png">
      <img class="presente5 sumir imagem-festa" src="../../assets/imagens/gift.png">
      <img class="balao1 imagem-festa" src="../../assets/imagens/balloons.png">
      <img class="balao2 sumir imagem-festa" src="../../assets/imagens/balloons.png">
      <img class="balao3 sumir imagem-festa" src="../../assets/imagens/balloons.png">
      <img class="balao4 sumir imagem-festa" src="../../assets/imagens/balloons.png">
      <img class="balao5 sumir imagem-festa" src="../../assets/imagens/balloons.png">
      <img class="coracao1 sumir imagem-festa" src="../../assets/imagens/hearts.png">
      <img class="coracao2 sumir imagem-festa" src="../../assets/imagens/hearts.png">
      <img class="coracao3 sumir imagem-festa" src="../../assets/imagens/hearts.png">
      <img class="coracao4 sumir imagem-festa" src="../../assets/imagens/hearts.png">
      <img class="coracao5 sumir imagem-festa" src="../../assets/imagens/hearts.png">

      <div class="span-titulo">
        <img (click)="popUnicornio($event.target)" class="unicornio1" src="../../assets/imagens/unicornio3.png">
        <img (click)="popUnicornio($event.target)" class="unicornio2" src="../../assets/imagens/unicornio3.png">
        <img (click)="popUnicornio($event.target)" class="unicornio3" src="../../assets/imagens/unicornio3.png">
        <img (click)="popUnicornio($event.target)" class="unicornio4" src="../../assets/imagens/unicornio3.png">
        <img (click)="popUnicornio($event.target)" class="unicornio5" src="../../assets/imagens/unicornio3.png">
        <span>
          A gente te ama!<br>Feliz Aniversário!
        </span>
        <br>
        <div class="audio">
          <span (click)="proxMusica()" class="material-icons">skip_previous</span>
          <span (click)="controlaMusica()" class="material-icons">play_circle_filled</span>
          <span (click)="proxMusica()" class="material-icons">skip_next</span>
        </div>
        <span class="span-audio">Dá um play!</span>
        <audio id="audio">
          <source src="" type="audio/mpeg" />
        </audio>
      </div>

      <ng-container *ngIf="!isMobile; else elseContent">
        <card-padrao [card]="ciaei" [style]="'20em'"></card-padrao>
        <card-padrao [card]="mae_pai_babi" [style]="'20em'"></card-padrao>
        <card-padrao [card]="halloween" [style]="'20em'"></card-padrao>
        <card-grande-cima [card]="barbara"></card-grande-cima>
        <card-grande-baixo [card]="fernandes"></card-grande-baixo>
        <card-horizontal [card]="elen_dormindo"></card-horizontal>
        <card-horizontal [card]="guilherme_dormindo"></card-horizontal>
        <card-group [cards]="[doida, vitor, normal]" class="card-group-menor"></card-group>
        <card-grande-cima [card]="matheus"></card-grande-cima>
        <card-grande-baixo [card]="natalia"></card-grande-baixo>
        <card-grande-cima [card]="neuza" [style]="'20em'"></card-grande-cima>
        <card-padrao [card]="carnaval_babi" [style]="'20em'"></card-padrao>
        <card-padrao [card]="golden_hour" [style]="'20em'"></card-padrao>
        <card-grande-baixo [card]="leao"></card-grande-baixo>
        <card-grande-cima [card]="isabelle"></card-grande-cima>
        <card-group [cards]="[role_fail, eliane, nowah]" class="card-group-menor"></card-group>
        <card-horizontal [card]="bruna"></card-horizontal>
        <card-padrao [card]="pastel" [style]="'20em'"></card-padrao>
        <card-padrao [card]="cores" [style]="'20em'"></card-padrao>
        <card-padrao [card]="fernando" [style]="'20em'"></card-padrao>
        <card-padrao [card]="isa_babi" [style]="'20em'"></card-padrao>
        <card-grande-baixo [card]="tania"></card-grande-baixo>
        <card-grande-cima [card]="ester"></card-grande-cima>
        <card-grande-baixo [card]="remember"></card-grande-baixo>
        <card-padrao [card]="casal" [style]="'20em'"></card-padrao>
        <card-padrao [card]="pitanga" [style]="'20em'"></card-padrao>
        <card-horizontal [card]="panela" [style]="'20em'"></card-horizontal>
        <card-grande-cima [card]="marcos"></card-grande-cima>
        <card-grande-baixo [card]="eliane2"></card-grande-baixo>
        <card-group [cards]="[carnaval_gui, dentes, leque]" class="card-group-menor"></card-group>
        <card-grande-cima [card]="felipe_welida"></card-grande-cima>
        <card-grande-baixo [card]="thomaz"></card-grande-baixo>
        <card-horizontal [card]="guilherme"></card-horizontal>
      </ng-container>

      <ng-template #elseContent>
        <card-padrao [style]="'22em'" [card]="barbara"></card-padrao>
        <card-padrao [style]="'22em'" [card]="fernandes"></card-padrao>
        <card-padrao [style]="'22em'" [card]="ciaei"></card-padrao>
        <card-padrao [style]="'22em'" [card]="mae_pai_babi"></card-padrao>
        <card-padrao [style]="'22em'" [card]="halloween"></card-padrao>
        <card-padrao [style]="'22em'" [card]="leao"></card-padrao>
        <card-padrao [style]="'22em'" [card]="isabelle"></card-padrao>
        <card-padrao [style]="'22em'" [card]="doida"></card-padrao>
        <card-padrao [style]="'22em'" [card]="vitor"></card-padrao>
        <card-padrao [style]="'22em'" [card]="normal"></card-padrao>
        <card-padrao [style]="'22em'" [card]="matheus"></card-padrao>
        <card-padrao [style]="'22em'" [card]="natalia"></card-padrao>
        <card-padrao [style]="'22em'" [card]="neuza"></card-padrao>
        <card-padrao [style]="'22em'" [card]="carnaval_babi"></card-padrao>
        <card-padrao [style]="'22em'" [card]="golden_hour"></card-padrao>
        <card-padrao [style]="'22em'" [card]="elen_dormindo"></card-padrao>
        <card-padrao [style]="'22em'" [card]="guilherme_dormindo"></card-padrao>
        <card-padrao [style]="'22em'" [card]="role_fail"></card-padrao>
        <card-padrao [style]="'22em'" [card]="eliane"></card-padrao>
        <card-padrao [style]="'22em'" [card]="nowah"></card-padrao>
        <card-padrao [style]="'22em'" [card]="bruna"></card-padrao>
        <card-padrao [style]="'22em'" [card]="pastel"></card-padrao>
        <card-padrao [style]="'22em'" [card]="cores"></card-padrao>
        <card-padrao [style]="'22em'" [card]="fernando"></card-padrao>
        <card-padrao [style]="'22em'" [card]="isa_babi"></card-padrao>
        <card-padrao [style]="'22em'" [card]="tania"></card-padrao>
        <card-padrao [style]="'22em'" [card]="ester"></card-padrao>
        <card-padrao [style]="'22em'" [card]="remember"></card-padrao>
        <card-padrao [style]="'22em'" [card]="pitanga"></card-padrao>
        <card-padrao [style]="'22em'" [card]="casal"></card-padrao>
        <card-padrao [style]="'22em'" [card]="panela"></card-padrao>
        <card-padrao [style]="'22em'" [card]="marcos"></card-padrao>
        <card-padrao [style]="'22em'" [card]="eliane2"></card-padrao>
        <card-padrao [style]="'22em'" [card]="carnaval_gui"></card-padrao>
        <card-padrao [style]="'22em'" [card]="dentes"></card-padrao>
        <card-padrao [style]="'22em'" [card]="leque"></card-padrao>
        <card-padrao [style]="'22em'" [card]="felipe_welida"></card-padrao>
        <card-padrao [style]="'22em'" [card]="thomaz"></card-padrao>
        <card-padrao [style]="'22em'" [card]="guilherme"></card-padrao>
      </ng-template>
      <div style="width: 100%; padding: 80px 0 40px 0">
        <span>Que que achô?</span>
      </div>
    </div>
  </div>
</div>