::-webkit-scrollbar {
    width: 0px;
    height: 5px;
}

.fundo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: var(--verde-agua);
    transition: 0.4s;
    overflow: hidden;
}

@keyframes unicornio {
    0% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 90px;
}

.unicornio {
    position: absolute;
    width: 90px;
    height: 90px;
    animation: div-in 0.4s;
    animation: unicornio 2s infinite;
    z-index: 2;
}

.opacidade-0 {
    opacity: 0;
}

@keyframes div-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.div-container {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 92%;
    height: 100%;
    background: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    text-align: center;
    transition: 0.4s;
    animation: div-in 1s;
    padding: 5px;
    overflow-x: hidden;
}

.div-mensagens {
    background-image: url("../../assets/imagens/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: calc(100% - 1px);
    padding: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Comfortaa', cursive;
    overflow-x: hidden;
}

.span-titulo {
    font-size: 27px;
    padding-bottom: 15px;
    z-index: 10;
    width: 100%;
}

.card {
    float: left !important;
    margin: 15px;
    border-radius: 2px !important;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.card img {
    border-radius: 2px !important;
    image-orientation: from-image !important;
    transition: 1s;
}

.card .card-text {
    font-size: 16px;
}

.card-group .card {
    margin: 10px 0 !important;
}

.card-group-menor {
    width: 90% !important;
}

.menor {
    width: 40% !important;
}

/* IMAGENS */

@keyframes rotate1 {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(-10deg);
    }
}

@keyframes balao {
    0% {
        margin: -40px -10px 0 0;
    }
    25% {
        margin: 0 10px 0 0;
    }
    50% {
        margin: 40px -10px 0 0;
    }
    75% {
        margin: 0 10px 0 0;
    }
    100% {
        margin: -40px -10px 0 0;
    }
}

@keyframes cone {
    0% {
        transform: rotate(-10deg);
        padding: 0px;
    }
    50% {
        transform: rotate(40deg);
        padding: 15px;
    }
    100% {
        transform: rotate(-10deg);
        padding: 0px;
    }
}

@keyframes presente {
    0% {
        transform: rotate(-30deg);
        padding: 0px;
    }
    50% {
        transform: rotate(10deg);
        padding: 10px;
    }
    100% {
        transform: rotate(-30deg);
        padding: 0px;
    }
}

@media only screen and (max-width: 1920px) {
    .unicornio1, .unicornio2, .unicornio3, .unicornio4, .unicornio5 {
        width: 125px;
        height: 125px;
        position: absolute;
        transition: 0.4s;
        cursor: pointer;
    }
    .unicornio1 {
        top: 250px;
        left: 15px;
        animation: rotate1 3s infinite;
    }
    .unicornio2 {
        top: 1250px;
        right: 150px;
        animation: rotate2 4s infinite;
    }
    .unicornio3 {
        top: 2400px;
        left: 550px;
        animation: rotate3 3s infinite;
    }
    .unicornio4 {
        top: 4076px;
        left: 40px;
        animation: rotate2 4s infinite;
    }
    .unicornio5 {
        top: 6200px;
        right: 350px;
        animation: rotate1 3s infinite;
    }
    .imagem-festa {
        width: 255px;
        height: 255px;
        position: absolute;
        opacity: 20%;
    }
    .chapeu1 {
        top: -40px;
        left: 110px;
        animation: rotate3 6s infinite;
    }
    .chapeu2 {
        top: 1140px;
        right: 70px;
        animation: rotate2 7s infinite;
    }
    .chapeu3 {
        top: 2740px;
        right: 170px;
        animation: rotate2 5s infinite;
    }
    .chapeu4 {
        top: 4740px;
        right: 120px;
        animation: rotate2 6s infinite;
    }
    .cone1 {
        top: 500px;
        right: 60px;
        animation: cone 5s infinite;
    }
    .cone2 {
        top: 1500px;
        left: 80px;
        animation: cone 8s infinite;
    }
    .cone3 {
        top: 4500px;
        left: 120px;
        animation: cone 5s infinite;
    }
    .cone4 {
        top: 5500px;
        left: 150px;
        animation: cone 6s infinite;
    }
    .cone5 {
        top: 7500px;
        left: 90px;
        animation: cone 6s infinite;
    }
    .presente1 {
        top: 10000px;
        left: 85px;
        animation: presente 6s infinite;
    }
    .presente2 {
        top: 1900px;
        right: 495px;
        animation: presente 7s infinite;
    }
    .presente3 {
        top: 2600px;
        left: 85px;
        animation: presente 6s infinite;
    }
    .presente4 {
        top: 5900px;
        right: 495px;
        animation: presente 7s infinite;
    }
    .presente5 {
        top: 6900px;
        right: 495px;
        animation: presente 7s infinite;
    }
    .balao1 {
        top: 830px;
        left: 723px;
        animation: balao 6s infinite;
    }
    .balao2 {
        top: 1650px;
        right: 30px;
        animation: balao 8s infinite;
    }
    .balao3 {
        top: 3830px;
        left: 723px;
        animation: balao 6s infinite;
    }
    .balao4 {
        top: 6650px;
        right: 30px;
        animation: balao 8s infinite;
    }
    .balao5 {
        top: 7650px;
        right: 130px;
        animation: balao 8s infinite;
    }
    .coracao1 {
        top: 1050px;
        left: 40px;
        animation: balao 7s infinite;
    }
    .coracao2 {
        top: 0px;
        right: 170px;
        animation: balao 9s infinite;
    }
    .coracao3 {
        top: 5050px;
        left: 40px;
        animation: balao 7s infinite;
    }
    .coracao4 {
        top: 9500px;
        right: 170px;
        animation: balao 9s infinite;
    }
    .coracao5 {
        top: 6500px;
        right: 110px;
        animation: balao 9s infinite;
    }
    .audio {
        height: 50px;
        position: fixed;
        top: 0%;
    }
}

@media only screen and (max-width: 1000px) {
    .audio {
        height: 50px;
        position: fixed;
        top: -2%;
        left: -3%;
    }
    .unicornio1, .unicornio2, .unicornio3, .unicornio4, .unicornio5 {
        width: 95px;
        height: 95px;
        position: absolute;
    }
    .unicornio1 {
        top: 110px;
        left: 8px;
        animation: rotate1 3s infinite;
    }
    .unicornio2 {
        top: 3100px;
        right: 8px;
        animation: rotate2 4s infinite;
    }
    .unicornio3 {
        top: 6090px;
        left: 50px;
        animation: rotate3 3s infinite;
    }
    .unicornio4 {
        top: 12110px;
        left: 10px;
        animation: rotate2 4s infinite;
    }
    .unicornio5 {
        top: 15100px;
        right: 50px;
        animation: rotate1 3s infinite;
    }
    .imagem-festa {
        width: 65px;
        height: 65px;
        position: absolute;
    }
    .imagem-festa {
        width: 135px;
        height: 135px;
        position: absolute;
        opacity: 20%;
    }
    .chapeu1 {
        top: -5px;
        left: -5px;
        animation: rotate3 6s infinite;
    }
    .chapeu2 {
        top: 4500px;
        right: 10px;
        animation: rotate2 7s infinite;
    }
    .chapeu3 {
        top: 16000px;
        right: 5px;
        animation: rotate2 7s infinite;
    }
    .cone1 {
        top: 1500px;
        left: 260px;
        animation: cone 5s infinite;
    }
    .cone2 {
        top: 6000px;
        left: 235px;
        animation: cone 8s infinite;
    }
    .cone3 {
        top: 10500px;
        left: 235px;
        animation: cone 8s infinite;
    }
    .presente1 {
        top: 3000px;
        left: -15px;
        animation: presente 6s infinite;
    }
    .presente2 {
        top: 7500px;
        left: -15px;
        animation: presente 7s infinite;
    }
    .presente3 {
        top: 11500px;
        left: -15px;
        animation: presente 7s infinite;
    }
    .balao1 {
        top: 17500px;
        left: 205px;
        animation: balao 6s infinite;
    }
    .balao2 {
        top: 9000px;
        left: -15px;
        animation: balao 8s infinite;
    }
    .balao3 {
        top: 13500px;
        left: -15px;
        animation: balao 8s infinite;
    }
    .coracao1 {
        top: 6000px;
        left: -15px;
        animation: balao 7s infinite;
    }
    .coracao2 {
        top: 10500px;
        left: 60px;
        animation: balao 9s infinite;
    }
    .coracao3 {
        top: 14500px;
        left: 60px;
        animation: balao 9s infinite;
    }
}

.pop-unicornio {
    padding: 15px;
    opacity: 0;
}

.btn-continuar {
    background-color: var(--verde-agua);
    border: var(--verde-agua);
    color: black;
    outline: none !important;
    font-family: 'Comfortaa', cursive;
    transition: 0.4s;
}

.btn-continuar:focus {
    box-shadow: none;
}

.audio span {
    color: var(--verde-agua);
    font-size: 50px;
    margin-top: 15px;
    cursor: pointer;
    user-select: none;
    text-shadow: 1px 1px black;
    transition: 0.4s;
}

.span-audio {
    font-size: 14px !important;
    margin-top: -10px !important;
    opacity: 0;
    transition: 0.5s;
    user-select: none;
}

.card-final {
    width: 90%;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0;
    transition: 1s;
}

.img-final img {
    width: 100%;
    height: 100%;
}

.mensagem-final i {
    float: right;
    color: rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1920px) {
    .img-final {
        width: 40%;
        height: 100%;
        float: left;
        margin-right: 20px;
    }
    .mensagem-final {
        text-align: left;
        font-size: 18px;
        margin-right: 20px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1367px) {
    .img-final {
        width: 45%;
        height: 100%;
        float: left;
        margin-right: 20px;
    }
    .mensagem-final {
        text-align: left;
        font-size: 16px;
        margin-right: 20px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1282px) {
    .img-final {
        width: 45%;
        height: 100%;
        float: left;
        margin-right: 20px;
    }
    .mensagem-final {
        text-align: left;
        font-size: 15px;
        margin-right: 20px;
        margin-top: 20px;
    }
}