<div class="card-group">
  <div *ngFor="let card of cards" class="card background-card">
    <img src="../../assets/imagens/galera/{{card.imagem}}" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{card.titulo}}</h5>
      <p class="card-text">{{card.texto}}</p>
      <p class="card-text"><small class="text-muted">{{card.autor}}</small></p>
    </div>
  </div>
</div>