:root{
    --primary: #7fffd4 !important;
}

body {
    --verde-agua-bkp: #7fffd4;
    --verde-agua: #bcffe9;
    --verde-agua-saturado-bkp: #6fffd9;
    --verde-agua-saturado: #94ffe3;
    user-select: none;
}

@font-face {
    font-family: bellada;
    src: url(./assets/fonts/bellada.ttf);
}