::-webkit-scrollbar {
    width: 2px;
}

.fundo {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: var(--verde-agua);
    overflow: hidden;
}

@media only screen and (max-width: 1920px) {
    .div-bem-vinda {
        height: 95%;
    }
}

@media only screen and (max-width: 1000px) {
    .div-bem-vinda {
        height: 45%;
    }
}

@keyframes div-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.div-bem-vinda {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    text-align: center;
    transition: 0.4s;
    animation: div-in 1s;
    height: 100%;
    background-image: url("../../assets/imagens/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.div-img {
    opacity: 70% !important;
    width: 90% !important;
    height: 90% !important;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background-image: url("../../assets/imagens/colagem.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.div-bem-vinda .div-span-bem-vinda {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 390px;
    max-width: 90%;
    transition: 0.4s;
    animation: div-in 2s;
}

.span-bem-vinda {
    font-family: 'Comfortaa', cursive;
    font-size: 27px;
    color: white;
    text-shadow: 1px 1px black, 1px -1px black, -1px 1px black, -1px -1px black;
}

.btn-continuar {
    background-color: var(--verde-agua);
    border: var(--verde-agua);
    color: black;
    outline: none !important;
    font-family: 'Comfortaa', cursive;
}

.btn-continuar:focus {
    box-shadow: none;
}

@keyframes modal-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

.modal-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .3);
    animation: modal-in 0.4s;
    transition: 0.4s;
}

.modal-front {
    width: 450px;
    max-width: 90%;
    max-height: 80%;
    background-color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 30px;
    animation: modal-in 0.4s;
    transition: 0.4s;
    overflow-y: auto;
}

@media only screen and (max-width: 1920px) {
    .modal-front {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1000px) {
    .modal-front {
        font-size: 14px;
    }
}

.opacidade-0 {
    opacity: 0;
}

.top-50 {
    top: -50%;
}

.modal-front button {
    float: right;
    margin-bottom: 10px;
}