<div class="fundo">
  <div class="div-bem-vinda">
    <div *ngIf="!isMobile" class="div-img"></div>
    <div class="div-span-bem-vinda">
      <span class="span-bem-vinda"><b>Bem vinda!<br>Esse é seu primeiro<br>(e esperamos que único)<br>presente virtual
          de
          aniversário!</b></span>
      <br><br>
      <button class="btn btn-continuar" (click)="abrirModal()">Continuar</button>
    </div>
  </div>
</div>

<div class="modal-back" *ngIf="isModal">
  <div class="modal-front modal-1" *ngIf="isTexto1">
    Para Elen
    <hr>
    Meu amor,<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Imagino que você deva estar um pouco surpresa agora. Consegui esconder
    essa surpresa de você, mas não sei se escapou da sua percepção aguçada.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fiz esse site no intuito de te dar um presente de aniversário
    seguro, nessa época que tá
    proibido o contato. Queria poder estar te abraçando, mas já que não posso, mentaliza um abraço pra gente.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Não tem como deixar passar em branco seu niver de 20tão, então essa
    foi a saída que
    encontrei, colocar minhas habilidades de namorado TI pra te fazer um agrado.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tive ajuda de algumas pessoas para preparar isso tudo, esperamos que
    goste. (uma dica pra próxima parte: se algum unicórnio atrapalhar, pode clicar neles)<br><br>
    <span style="float: right;"><i>Guilherme Albertini</i></span><br><br>
    <button class="btn btn-continuar" (click)="trocaTexto()">Continuar</button>
  </div>
  <div class="modal-front modal-2" *ngIf="isTexto2">
    Para Elen
    <hr>
    Oi, irmã gêmea!<br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Queria estar contigo tomando uns bons vinhos mas hoje não vai
    rolar... Poxa corona não dava para esperar
    um
    pouquinho mais? Mas não vamos deixar essa data ficar só nas fotinhos no Instagram, afinal, esse é um marco: só
    faltam
    10 anos para a idade do sucesso!
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A gente tem que comemorar muito, não apenas por mais uma volta em
    torno do sol, mas
    também por tudo o que você é. Desde a amiga maravilhosa companheira de cinema aos sábados à tarde, passando pela fã
    de
    Jonas Brothers, até a mulher esforçada e decidida que sempre me inspirou tanto. Espero que tenha um bom dia, segura
    aí na sua casa. Mas eu não vejo a hora de te dar um abraço.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Você já deve saber, mas repito, te amo.<br><br>
    <span style="float: right;"><i>Babi Viotto</i></span><br><br>
    <button class="btn btn-continuar" (click)="fecharModal(1)">Continuar</button>
  </div>
</div>